.display-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

body {
  overflow-x: hidden;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  max-width: 60%;
  padding: 0px 0px 30px 0px;
  line-height: 35px;
}

h1 {
  font-family: Postoni Standard, Postoni, BodoniSvtyTwoITCTT-Book, georgia,
    serif;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 10px 0px 10px 0px;
}

a {
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  text-decoration: none;
  color: #1955a5;
}

#headings {
  padding-top: 50px;
  line-height: 40px;
}

footer {
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  padding: 40px 0px 50px 0px;
}

.mobile-btn {
  visibility: hidden;
  color: white;
}

.mobile-btn:hover {
  transition: 0.2s ease-in;
  color: rgb(65, 64, 64);
}

.nav-bar {
  background-color: black;
  color: white;
  text-align: center;
  height: 60px;
  padding-left: 18px;
  padding-right: 18px;
}

#header-tagline {
  color: #ccc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 12px;
  font-style: italic;
  margin-top: -2px;
}

#subscribe-btn {
  background-color: #1955a5;
  border: 1px solid #3d73d5;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
  margin-left: 5px;
}

#subscribe-btn:hover {
  transition: 0.2s ease-in;
  background-color: #3d73d5;
  border: 1px solid #3d73d5;
  color: white;
}

.gray-btn {
  background-color: #1f1f1f;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 15px;
  margin-left: 5px;
}

.gray-btn > i {
  padding-left: 5px;
}

.small-gray-btn {
  background-color: #1f1f1f;
  border: 1px solid rgb(65, 64, 64);
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 11px;
}

.gray-btn:hover,
.small-gray-btn:hover {
  transition: 0.2s ease-in;
  background-color: black;
  border: 1px solid #efefef;
  color: white;
}

/* Map Styling */

#received-btn-state,
#notreceived-btn-state,
#fullreceived-btn,
#fullneed-btn {
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 11px;
  margin-right: -6px;
}

#received-btn-state.active,
#fullreceived-btn.active {
  background-color: #273469;
  border: 1px solid #273469;
  color: white;
}

#notreceived-btn-state.active,
#fullneed-btn.active {
  background-color: #9f3504;
  border: 1px solid #9f3504;
  color: white;
}

#received-btn-state:hover,
#fullreceived-btn:hover {
  background-color: #5463a0;
  border: 1px solid #5463a0;
  color: white;
  transition: 0.2s ease-in;
}

#notreceived-btn-state:hover,
#fullneed-btn:hover {
  background-color: #b96944;
  border: 1px solid #b96944;
  color: white;
  transition: 0.2s ease-in;
}

#map-container {
  height: 500px;
  margin: 0 auto;
  max-width: 70%;
}

#line-container {
  height: 400px;
  margin: 0 auto;
  max-width: 60%;
}

#line-chart {
  padding-bottom: 20px;
}

#data-table {
  margin: 0 auto;
  max-width: 70%;
}

.page-item.active .page-link {
  background-color: rgb(167, 167, 167);
  border-color: rgb(167, 167, 167);
}

.page-link {
  color: rgb(63, 63, 63);
}

#mini-tables {
  margin: 0 auto;
  max-width: 70%;
  padding-bottom: 20px;
}

.dataTables_info {
  display: none;
}

/* Mini table buttons */
#age-btn,
#gender-btn,
#race-btn {
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "FranklinITCProBold", "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", "Apple SD Gothic Neo", "Myriad Set Pro",
    "Helvetica Neue", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 11px;
  margin-right: -6px;
}

#age-btn.active,
#gender-btn.active,
#race-btn.active {
  background-color: #1955a5;
  border: 1px solid #3d73d5;
  color: white;
}

#age-btn:hover,
#gender-btn:hover,
#race-btn:hover {
  transition: 0.2s ease-in;
  background-color: #3d73d5;
  border: 1px solid #3d73d5;
  color: white;
}

.informative-text {
  text-align: left; 
  margin: 0 auto; 
  max-width: 60%"
}

@media only screen and (max-width: 768px) {
  .desktop-btn {
    display: none;
  }

  .mobile-btn {
    visibility: visible;
  }
  #map-container,
  #line-container,
  #data-table,
  #mini-tables, .informative-text,
  p,
  h3 {
    max-width: 100%;
  }
}
